@media screen and (max-width: 950px) {
    .boxs-comm{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .boxc-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .boxs-comm{
        text-align: center;
    }
    .comm-footer{
        width: 90%;
    }
}




/* FAQ SECTION  */
@media screen and (max-width: 1100px) {
    .sub-footer{
        flex-direction: column;
        height: auto;

    }
    .subf-text{
        flex-direction: column;
        align-items: center;
    }
    .have{
        margin-top: 2rem;
    }
    .ready{
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 600px) {
    .subf-text{
        text-align: center;
    }
    .subf-text h1{
        font-size: 30px;
    }
    .subf-text p{
        font-size: 18px;
    }
}




