*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Coolors */
    --space-cadet: hsla(239, 37%, 24%, 1);
    --bittersweet: hsla(7, 95%, 67%, 1);
    --dark-orchid: hsla(272, 57%, 55%, 1);

    /* Font size */
    --font-h1: 18px;
    --font-p: 1.5rem;
}

body{
    font-family: 'Quicksand';
    width: 100%;
    height: 100%;     
}
html,
body{
    overflow-x: hidden;
    position: relative;
}

body::-webkit-scrollbar{
    width: 10px;
    background: var(--space-cadet);
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background: var(--bittersweet);
    border-radius: .5rem;
}

        /* NAVBAR */



.header{
    width: 100%;
    height: auto;
    background: hsla(239, 37%, 24%, .705);
    position: fixed;
    z-index: 999;
    top: 0;
}

.nav{
    position: relative;
    z-index: 99;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 0 1.5rem;
    
}


        /* LOGO */
    
.logo img{
    width: 45px;
    height: auto;
    vertical-align: middle;
}

.logo{
    display: flex;
    gap: 5px;
    text-align: end;
    cursor: pointer;
}
.text-logo h1{
    font-size: 18px;
    color: #eee;
    font-weight: 400;
    
}
.text-logo p{
    color: var(--bittersweet);
    font-size: 14px;
    font-weight: 500;
}


        /* NAVIGATION */

.list-link .login-link{
    display: none;
}

.list-link{
    
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #eee;
    border-bottom: 1px solid transparent;
    transition: .5s all;
}
.links:hover{
    color: var(--bittersweet);
    border-bottom: 1px solid var(--bittersweet);
}


        /* LOGIN */

.login{
    display: flex;
    gap: 25px;
}

.btn{
    width: 110px;
    height: 40px;
    border-radius: .3rem;
    background-color: transparent;
    border: 1px solid var(--dark-orchid);
    color: #eee;
    font-size: 18px;
    font-weight: 500;
    transition: .5s all;

}

.btn:hover{
        border: 1px solid var(--bittersweet);
        cursor: pointer;
}


        /* NAV MENU */


.nav-menu{
    display: none;
}

.nav-menu a{
    font-size: 2rem;
    color: var(--bittersweet);
}


/* MAIN COMMON CONTENT */

.content{
    min-height: auto;
    background-image: url(/public/img/NavWallpaperKassadin.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative; 


    /* ABSOLUTE ES LO QUE NO ME DEJA MOSTRAR EL INFO BIEN DEBAJO*/
    top: 0;

    z-index: 1;
}
.content{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, minmax(auto, 100px));
}

.common-text{
    grid-column: 2/7;
    grid-row: 3;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

.hero-text h1{
    font-size: 80px;
    font-weight: 400;
    color: #eee;
    text-align: center;
}

.hero-text h2{
    color: var(--bittersweet);
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    background: -webkit-linear-gradient(var(--bittersweet),var(--dark-orchid));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p{
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    text-align: center;
    line-height: 30px;
}

.content .btn{
    width: 150px;
    height: 70px;
    color: #eee;
    font-size: 18px;
    border-radius: 0.5rem;
    align-self: center;
    margin-top: 1.5rem;

    background-color: transparent;
    text-transform: uppercase;
    transition: .5s all;
    border: 2px solid var(--dark-orchid);
}

.content .btn:hover{
    cursor: pointer;
    border: 2px solid var(--bittersweet);
    color: var(--bittersweet);
    background-color: var(--space-cadet);
}



            /* INFO SECTION */


.info-header{
    background-color: #eee;
    width: 100%;
    height: 85px;
    display: grid;
    align-items: center;
}

.list-info{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    grid-template-columns: repeat(4, auto-fill);
    
}
.orders{
    grid-column: 1;
}
.ratio{
    grid-column: 2;
}
.boosters{
    grid-column: 3;
}
.reviews{
    grid-column: 4;
}

.nav-stats h1{
    color: var(--bittersweet);
    font-size: 2rem;
    font-weight: 700;
}
.nav-stats p{
    color: var(--space-cadet);
    font-size: 17px;
    font-weight: 500;
}



/* --------- INFO COMMON ---------- */

.info-content{
    position: relative;
} 

.info-content::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/public/img/ZedInfo.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transform: scaleX(-1);
    opacity: .1;
    z-index: -1;
}

.info-common{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -1rem;
}

.info-text{
   grid-column: 2;
   display: grid;
   gap: 30px;
   margin: 5rem;
}

.hero-info h1{
    font-size: 35px;
    color: var(--space-cadet);
}

.hero-info span{
    font-size: 20px;
    color: var(--bittersweet);
}

.hero-info p{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--space-cadet);
}

.hero-stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.stats p{
    font-size: 16px;
    font-weight: 500;
    color: var(--space-cadet);
}
.stats i{
    font-size: 1.5rem;
    color: var(--bittersweet);
}

.emote img{
    width: 650px;
    height: 100%;
}


/* -------- BOXS SECTION----------- */

.steps-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px /* minmax(200px, 350px)*/ );
    align-items: center;
    gap: 50px;
}

.box{
    width: 25vw;
    height: 500px;
    background: hsla(239, 37%, 24%, 1);
    display: flex;
    align-items: center;
    text-align: center;
    transition: all .5s;
}

.box:hover{
    cursor: pointer;
}

.box h1{
    font-size: 28px;
    margin: 1rem;
    color: var(--bittersweet);
}
.box h1 > p{
    font-size: 17px;
    margin: 1rem;
    color: #eee;
    line-height: 25px;
}

.service,
.method,
.order,
.work{
    z-index: 9;
    position: relative;
}

.service::before,
.method::before,
.order::before,
.work::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    opacity: .1;
    z-index: -9;
    transition: all .5s;
}
.work::before{
    background-image: url(/public/img/luzzz.jpg);
}

.service::before{
    background-image: url(/public/img/Blitz.jpg);
}

.method::before{
    background-image: url(/public/img/kindred.jpg);
}

.order::before{
    background-image: url(/public/img/TeemoSun.png);
}

/* HOVER */

.order:hover::before,
.service:hover::before,
.method:hover::before,
.work:hover::before{
    opacity: .8;   
}


/* ----- DEMO SECTION ----- */

.demo-content{
    width: 100%;
    height: auto;
    position: relative;
    background:  hsla(239, 37%, 24%, .5);

    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.demo-content::before{
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: url(/public/img/leaguebg.jpg);
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-demo h1{
    color: var(--bittersweet);
    font-size: 40px;
    font-weight: 700;
    margin-top: 5rem;
}
.hero-demo p{
    align-self: center;
    font-size: 20px;
    color: #eee;
    font-weight: 500;
    margin-top: .5rem;
}
.demo-img img{
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 1rem;
}

.demo-content .btn{
    width: 180px;
    height: 70px;
    color: #eee;
    font-size: 18px;
    border-radius: 0.5rem;
    align-self: center;
    margin-top: 2.5rem;
    background-color: transparent;
    text-transform: uppercase;
    transition: .5s all;
    border: 2px solid var(--dark-orchid);
}
.demo-content .btn:hover{
    cursor: pointer;
    border: 2px solid var(--bittersweet);
    color: var(--bittersweet);
    background-color: var(--space-cadet);
}

